<%= render partial: 'layouts/navigation' %>

<%= form_with(model: [:accounting, master_note], local: true, html: { class: "basic-grey"}) do |form| %>
  <% if master_note.errors.any? %>
      <% master_note.errors.full_messages.each do |message| %>
        <script>
          $.notify( {message: '<%= message %>'}, { type: 'danger', offset: 80});
        </script>
      <% end %>
      </ul>
    </div>
  <% end %>

  <form>
    <div class="form-row">
      <div class="col-md-2 mb-10">
        <%= form.label :date, class:"label" %>
        <%= form.date_select :date, { :discard_day => true}, class:"form-control" %>
      </div>
    </div>

    <br><br>

    <div class="row">
        <div id='notes'>
          <div class='col-md-11'>
            <%= link_to_add_association('Adicionar', form, :notes, 'data-association-insertion-node' => "#notes-items",
                  'data-association-insertion-method' => "prepend", class: "btn btn-secondary") %>
          </div>
        </div>
      <div class="col-md-1">
        <%= form.submit t('buttons.save'), class:"btn btn-primary form-button" %>
      </div>
      <div class="col-md-1">
        <%= link_to t('buttons.back'), accounting_master_notes_path, class:"btn btn-secondary form-button"%>
      </div>
    </div>
    <br>

    <div class="row">
      <div class="col-md-12">
        <table>
          <thead>
            <tr class="table100-head">
              <th class="column1"><%= t('labels.date') %></th>
              <th class="column5"><%= t('labels.supplier') %></th>
              <th class="column2"><%= t('labels.value') %></th>
              <th class="column6"><%= t('buttons.destroy') %></th>
            </tr>
          </thead>
          <tbody id="notes-items">
            <%= form.fields_for :notes do |notes_fields| %>
              <%= render 'note_fields', f: notes_fields %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <br>
  </form>
<% end %>

<br>

