<%= form_with(model: [:accounting, record_type], local: true) do |form| %>
  <% if record_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(record_type.errors.count, "error") %> prohibited this record_type from being saved:</h2>

      <ul>
      <% record_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
