<%= render partial: 'layouts/navigation' %>

<%= form_with(model: [:accounting, master_sale], local: true, html: { class: "basic-grey"}) do |form| %>
  <% if master_sale.errors.any? %>
      <% master_sale.errors.full_messages.each do |message| %>
        <script>
          $.notify( {message: '<%= message %>'}, { type: 'danger', offset: 80});
        </script>
      <% end %>
      </ul>
    </div>
  <% end %>

  <form>
    <div class="form-row">
      <div class="col-md-2 mb-10">
        <%= form.label :year, class:"label" %>
        <%= form.text_field :year, class:"form-control" %>
      </div>

      <div class="col-md-2 mb-10">
        <%= form.label :month, class:"label" %>
        <%= form.select :month, options_for_month(@master_sale.month), class:"form-control" %>
      </div>
    </div>

    <br><br>

    <div id='sales'>
      <%= form.fields_for :sales do |sales_fields| %>
        <%= render 'sale_fields', f: sales_fields %>
      <% end %>
      <div class='links'>
        <%= link_to_add_association('+', form, :sales, class: "badge badge-pill badge-secondary", style: "background: #800000") %>
      </div>
    </div>

    <br><br><br>

    <div class="form-row">
      <div class="col-md-1 mb-10">
        <%= form.submit t('buttons.save'), class:"btn btn-primary", style: "background: #600513" %>
      </div>
      <div class="col-md-1 mb-10">
        <%= link_to t('buttons.back'), accounting_master_sales_path, class:"btn btn-primary", style: "background: #e55757" %>
      </div>
    </div>
  </form>
<% end %>

<br>
