<%= render partial: 'layouts/notifications' %>

<%= render partial: 'layouts/navigation' %>

<br><br><br>

<p class="basic-title"><%= t('accounting.sale') %></p>

<div class="float-right">
  <%= link_to t('buttons.new'), new_accounting_master_sale_path, class: "btn btn-primary" %>
</div>

<div class="container-table100">
  <div class="wrap-table100">
    <div class="table100">
      <table>
        <thead>
          <tr class="table100-head">
            <th class="column1"><%= t('labels.year') %></th>
            <th class="column3"><%= t('labels.month') %></th>
            <th class="column5"><%= t('buttons.show') %></th>
            <th class="column5"><%= t('buttons.edit') %></th>
            <th class="column5"><%= t('buttons.destroy') %></th>
          </tr>
        </thead>

        <tbody>
          <% @master_sales.each do |master_sale| %>
            <tr>
              <td class="column1"><%= master_sale.year %></td>
              <td class="column3"><%= master_sale.month %></td>
              <td class="column5">
                <%= link_to accounting_master_sale_path(master_sale) do %>
                  <span class="typcn typcn-th-list basic-color"></span>
                <% end %>
              </td>
              <td class="column5">
                <%= link_to edit_accounting_master_sale_path(master_sale) do %>
                  <span class="typcn typcn-pencil basic-color"></span>
                <% end %>
              </td>
              <td class="column5">
                <%= link_to accounting_master_sale_path(master_sale), method: :delete, data: { confirm: t('messages.confirm_with', month: master_sale.month, year: master_sale.year)} do %>
                  <span class="typcn typcn-times basic-color"></span>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="d-flex justify-content-center">
  <%= paginate @master_sales %>
</div>

<br>
