<%= render partial: 'layouts/navigation' %>

<br><br><br>
<p id="notice"><%= notice %></p>

<p class="basic-title">Entradas Diárias</p>

<div class="float-right">
  <%= link_to 'Novo', new_accounting_master_sale_path, class: "btn btn-primary", style: "background: #600513" %>
</div>

<div class="container-table100">
  <div class="wrap-table100">
    <div class="table100">
      <table>
        <thead>
          <tr class="table100-head">
            <th class="column1">Ano</th>
            <th class="column3">Mês</th>
            <th class="column5">Mostrar</th>
            <th class="column5">Editar</th>
            <th class="column5">Apagar</th>
          </tr>
        </thead>

        <tbody>
          <% @master_sales.each do |master_sale| %>
            <tr>
              <td class="column1"><%= master_sale.year %></td>
              <td class="column3"><%= master_sale.month %></td>
              <td class="column5">
                <%= link_to accounting_master_sale_path(master_sale) do %>
                  <span style="color: #600513" class="typcn typcn-th-list"></span>
                <% end %>
              </td>
              <td class="column5">
                <%= link_to edit_accounting_master_sale_path(master_sale) do %>
                  <span style="color: #600513" class="typcn typcn-pencil"></span>
                <% end %>
              </td>
              <td class="column5">
                <%= link_to accounting_master_sale_path(master_sale), method: :delete, data: { confirm: 'Are you sure?' } do %>
                  <span style="color: #600513" class="typcn typcn-times""></span>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<br>
