<%= render partial: 'layouts/navigation' %>

<br><br><br>

<p class="basic-title">Gráficos</p>

<br>

<p class="basic-title2">Entradas Totais</p>

<%= column_chart chart_total, prefix: "R$" %>

<br><br><br>

<p class="basic-title2">Entradas em Dinheiro</p>

<%= column_chart chart('Dinheiro'), prefix: "R$" %>

<br><br><br>

<p class="basic-title2">Entradas em Débito</p>

<%= column_chart chart('Débito'), prefix: "R$" %>

<br><br><br>

<p class="basic-title2">Entradas em Crédito</p>

<%= column_chart chart('Crédito'), prefix: "R$" %>

<br><br>
