<div class="nested-fields">

  <div class="form-row">
    <div class="col-md-2 mb-3">
      <div class="field">
        <%= f.label :purchase, class:"label" %>
        <%= f.text_field :purchase, class: "form-control datepicker" %>
      </div>
    </div>

    <div class="col-md-3 mb-3">
      <div class="field">
        <%= f.label :expire, class:"label" %>
        <%= f.text_field :expire, class: "form-control datepicker" %>
      </div>
    </div>

    <div class="col-md-2 mb-3">
      <div class="field">
        <%= f.label :distributor, class:"label" %>
        <%= f.select :distributor, options_for_distributor(f.object.distributor) %>
      </div>
    </div>

    <div class="col-md-2 mb-3">
      <div class="field">
        <%= f.label :value, class:"label" %>
        <%= f.text_field :value %>
      </div>
    </div>

    <div class="col-md-2 mb-3">
      <div class="field">
        <%= f.label :payment, class:"label" %>
        <%= f.select :payment, options_for_payment(f.object.payment) %>
      </div>
    </div>

    <div class="col-md-1 mb-3">
      <%= link_to_remove_association("x", f, class: "badge badge-pill badge-secondary", style: "background: #800000") %>
    </div>
  </div>

</div>
