<%= render partial: 'layouts/notifications' %>

<%= render partial: 'layouts/navigation' %>

<br><br><br>

<p class="basic-title"><%= "#{t('accounting.order')} - #{@master_order.month} / #{@master_order.year}" %></p>

<br>
<div class="row">
  <p class="numbers num-color1"><%= t('labels.total') %></p><p class="val num-color1"><%= orders_total %></p>
</div>

<div class="form-row" style="margin-left: 25px">
  <div class="col-md-1 mb-10">
    <%= link_to t('buttons.back'), accounting_master_orders_path, class:"btn btn-secondary"%>
  </div>
    <%= link_to t('buttons.edit'), edit_accounting_master_order_path(@master_order), class:"btn btn-primary butt-align2"%>
</div>

<div class="container-table100">
  <div class="wrap-table100">
    <div class="table100">
      <table>
        <thead>
          <tr class="table100-head">
            <th class="column1"><%= t('labels.date') %></th>
            <th class="column5"><%= t('labels.expire') %></th>
            <th class="column3"><%= t('labels.distributor') %></th>
            <th class="column3"><%= t('labels.value') %></th>
            <th class="column6"><%= t('labels.payment') %></th>
          </tr>
        </thead>
        <tbody>
          <% @master_order.orders.each do |order| %>

            <tr>
              <td class="column1"><%= l(order.purchase) %></td>
              <td class="column5"><%= l(order.expire) %></td>
              <td class="column3"><%= order.distributor %></td>
              <td class="column3"><%= order.value %></td>
              <td class="column6"><%= order.payment %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
