<%= render partial: 'layouts/navigation' %>

<%= form_with(model: [:accounting, master_bank], local: true, html: { class: "basic-grey"}) do |form| %>
  <% if master_bank.errors.any? %>
      <% master_bank.errors.full_messages.each do |message| %>
        <script>
          $.notify( {message: '<%= message %>'}, { type: 'danger', offset: 80});
        </script>
      <% end %>
      </ul>
    </div>
  <% end %>

  <form>
    <div class="form-row">
      <div class="col-md-2 mb-10">
        <%= form.label :date, class:"label" %>
        <%= form.date_select :date, { :discard_day => true}, class:"form-control" %>
      </div>

      <div class="col-md-2 mb-10">
        <%= form.label :initial_balance, class:"label" %>
        <% if first_master_bank? %>
          <%= form.text_field :initial_balance, class:"form-control" %>
        <% else %>
          <%= form.text_field :initial_balance, class:"form-control", disabled: "disabled" %>
        <% end %>
      </div>

      <div class="col-md-2 mb-10">
        <%= form.label :done, class:"label" do %>
          <%= form.check_box :done, class:"form-check-input" %>
          <%= t('labels.done') %>
        <% end %>
      </div>
    </div>

    <br><br>

    <div id='banks'>
      <%= form.fields_for :banks do |banks_fields| %>
        <%= render 'bank_fields', f: banks_fields %>
      <% end %>
      <div class='links'>
        <%= link_to_add_association('+', form, :banks, class: "badge badge-pill badge-secondary", style: "background: #800000") %>
      </div>
    </div>

    <br><br><br>

    <div class="form-row">
      <div class="col-md-1 mb-10">
        <%= form.submit t('buttons.save'), class:"btn btn-primary" %>
      </div>
      <div class="col-md-1 mb-10">
        <%= link_to t('buttons.back'), accounting_master_banks_path, class:"btn btn-secondary"%>
      </div>
    </div>
  </form>
<% end %>

<br>
