<%= render partial: 'layouts/notifications' %>

<%= render partial: 'layouts/navigation' %>

<br><br><br>

<p class="basic-title"><%= "#{t('accounting.bank')} - #{l(@master_bank.date, format: :short)}" %></p>

<br>
<div class="row">
  <p class="numbers num-color1"><%= t('labels.balance') %></p><p class="val num-color1"><%= calc_balance(@master_bank.banks, @master_bank.initial_balance) %></p>
</div>
<div class="row">
  <p class="numbers num-color2"><%= t('labels.incomes') %></p><p class="val num-color2"><%= income_calc(@master_bank.banks) %></p>
</div>
<div class="row">
  <p class="numbers num-color3"><%= t('labels.expenses') %></p><p class="val num-color3"><%= expense_calc(@master_bank.banks) %></p>
</div>

<div class="form-row" style="margin-left: 25px">
  <div class="col-md-1 mb-10">
    <%= link_to t('buttons.back'), accounting_master_banks_path, class:"btn btn-secondary"%>
  </div>
    <%= link_to t('buttons.edit'), edit_accounting_master_bank_path(@master_bank), class:"btn btn-primary butt-align2"%>
</div>

<div class="container-table100">
  <div class="wrap-table100">
    <div class="table100">
      <table>
        <thead>
          <tr class="table100-head">
            <th class="column8"><%= t('labels.date') %></th>
            <th class="column3"><%= t('labels.income') %></th>
            <th class="column3"><%= t('labels.expense') %></th>
            <th class="column7"><%= t('labels.description') %></th>
            <th class="column6"><%= t('labels.value') %></th>
          </tr>
        </thead>
        <tbody>
          <% @master_bank.banks.each do |bank| %>

            <tr <%= change_color(bank) %> >
              <td class="column8"><%= l(bank.day) %></td>
              <td class="column3"><%= inc_show(bank) %></td>
              <td class="column3"><%= exp_show(bank) %></td>
              <td class="column7"><%= bank.description %></td>
              <td class="column6"><%= bank.value %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
