<%= form_with(model: bank, local: true) do |form| %>
  <% if bank.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bank.errors.count, "error") %> prohibited this bank from being saved:</h2>

      <ul>
      <% bank.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :day %>
    <%= form.date_select :day %>
  </div>

  <div class="field">
    <%= form.label :value %>
    <%= form.text_field :value %>
  </div>

  <div class="field">
    <%= form.label :income_type_id %>
    <%= form.text_field :income_type_id %>
  </div>

  <div class="field">
    <%= form.label :record_type_id %>
    <%= form.text_field :record_type_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
