<p id="notice"><%= notice %></p>

<p>
  <strong>Day:</strong>
  <%= @bank.day %>
</p>

<p>
  <strong>Value:</strong>
  <%= @bank.value %>
</p>

<p>
  <strong>Income type:</strong>
  <%= @bank.income_type %>
</p>

<p>
  <strong>Record type:</strong>
  <%= @bank.record_type %>
</p>

<%= link_to 'Edit', edit_bank_path(@bank) %> |
<%= link_to 'Back', banks_path %>
