<p id="notice"><%= notice %></p>

<h1>Expense Types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @expense_types.each do |expense_type| %>
      <tr>
        <td><%= expense_type.name %></td>
        <td><%= link_to 'Show', expense_type %></td>
        <td><%= link_to 'Edit', edit_expense_type_path(expense_type) %></td>
        <td><%= link_to 'Destroy', expense_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Expense Type', new_expense_type_path %>
