<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <title><%= t('app.name') %></title>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

  </head>

  <body>

    <%= render partial: 'layouts/notifications' %>

    <%= render partial: 'layouts/navigation' %>

    <header class="masthead">
      <div class="masthead-content">
        <div class="container">
          <%= image_tag("MarcaMariaBonita", size: "1000x350") %>
        </div>
      </div>
    </header>

  </body>

</html>
