<%= form_with(model: [:accounting, finance], local: true) do |form| %>
  <% if finance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(finance.errors.count, "error") %> prohibited this finance from being saved:</h2>

      <ul>
      <% finance.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :record_type_id %>
    <%= form.collection_select(:record_type_id, @record_type_options_for_select, :id, :name, {include_blank: true}) %>
  </div>

  <div class="field">
    <%= form.label :income_type_id %>
    <%= form.collection_select(:income_type_id, @income_type_options_for_select, :id, :name, {include_blank: true}) %>
  </div>

  <div class="field">
    <%= form.label :expense_type_id %>
    <%= form.collection_select(:expense_type_id, @expense_type_options_for_select, :id, :name, {include_blank: true}) %>
  </div>

  <div class="field">
    <%= form.label :day %>
    <%= form.date_select :day %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.label :value %>
    <%= form.text_field :value %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
