<%= form_with(model: [:accounting, income_type], local: true) do |form| %>
  <% if income_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(income_type.errors.count, "error") %> prohibited this income_type from being saved:</h2>

      <ul>
      <% income_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
