<%= form_with(model: [:accounting, order], local: true) do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :purchase %>
    <%= form.date_select :purchase %>
  </div>

  <div class="field">
    <%= form.label :distributor %>
    <%= form.select :distributor, options_for_distributor(@order.distributor) %>
  </div>

  <div class="field">
    <%= form.label :expire %>
    <%= form.date_select :expire %>
  </div>

  <div class="field">
    <%= form.label :value %>
    <%= form.number_field :value %>
  </div>

  <div class="field">
    <%= form.label :payment_id %>
    <%= form.text_field :payment_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
