<div class="nested-fields">

  <div class="field">
    <%= f.label :income_type_id %>
    <%= f.collection_select(:income_type_id, @income_type_options_for_select, :id, :name, {include_blank: true}) %>
  </div>

  <div class="field">
    <%= f.label :expense_type_id %>
    <%= f.collection_select(:expense_type_id, @expense_type_options_for_select, :id, :name, {include_blank: true}) %>
  </div>

  <div class="field">
    <%= f.label :day %>
    <%= f.date_select :day %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>

  <div class="field">
    <%= f.label :value %>
    <%= f.text_field :value %>
  </div>
  <%= link_to_remove_association("Remover", f) %>
</div>
