<%= render partial: 'layouts/navigation' %>

<%= form_with(model: [:accounting, master_finance], local: true, html: { class: "basic-grey"}) do |form| %>
  <% if master_finance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(master_finance.errors.count, "error") %> prohibited this master_finance from being saved:</h2>

      <ul>
      <% master_finance.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <form>
    <div class="form-row">
      <div class="col-md-2 mb-10">
        <%= form.label :year, class:"label" %>
        <%= form.text_field :year, class:"form-control" %>
      </div>

      <div class="col-md-2 mb-10">
        <%= form.label :month, class:"label" %>
        <%= form.select :month, options_for_month(@master_finance.month), class:"form-control" %>
      </div>

      <div class="col-md-2 mb-10">
        <%= form.label :balance, class:"label" %>
        <%= form.text_field :balance, class:"form-control" %>
      </div>
    </div>

    <br><br>

    <div id='finances'>
      <%= form.fields_for :finances do |finances_fields| %>
        <%= render 'finance_fields', f: finances_fields %>
      <% end %>
      <div class='links'>
        <%= link_to_add_association('+', form, :finances, class: "badge badge-pill badge-secondary", style: "background: #a53838") %>
      </div>
    </div>

    <br><br><br>

    <div class="form-row">
      <div class="col-md-1 mb-10">
        <%= form.submit "Salvar", class:"btn btn-primary" %>
      </div>
      <div class="col-md-1 mb-10">
        <%= link_to 'Voltar', accounting_master_finances_path, class:"btn btn-secondary"%>
      </div>
    </div>
  </form>
<% end %>

<br>
