<%= render partial: 'layouts/navigation' %>

<br><br><br>
<p id="notice"><%= notice %></p>

<p class="basic-title">Finanças Diárias</p>

<div class="float-right">
  <%= link_to 'Novo', new_accounting_master_finance_path, class: "btn btn-primary" %>
</div>

<div class="container-table100">
  <div class="wrap-table100">
    <div class="table100">
      <table>
        <thead>
          <tr class="table100-head">
            <th class="column1">Ano</th>
            <th class="column3">Mês</th>
            <th class="column5">Mostrar</th>
            <th class="column5">Editar</th>
            <th class="column5">Apagar</th>
          </tr>
        </thead>

        <tbody>
          <% @master_finances.each do |master_finance| %>
            <tr>
              <td class="column1"><%= master_finance.year %></td>
              <td class="column3"><%= master_finance.month %></td>
              <td class="column5">
                <%= link_to accounting_master_finance_path(master_finance) do %>
                  <span class="typcn typcn-th-list basic-color"></span>
                <% end %>
              </td>
              <td class="column5">
                <%= link_to edit_accounting_master_finance_path(master_finance) do %>
                  <span class="typcn typcn-pencil basic-color"></span>
                <% end %>
              </td>
              <td class="column5">
                <%= link_to accounting_master_finance_path(master_finance), method: :delete, data: { confirm: 'Are you sure?' } do %>
                  <span class="typcn typcn-times basic-color"></span>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="d-flex justify-content-center">
  <%= paginate @master_finances %>
</div>

<br>
