<p id="notice"><%= notice %></p>

<%= render partial: 'layouts/navigation' %>

<br><br><br>

<p class="basic-title"><%= "Finanças Diárias - #{@master_finance.month} / #{@master_finance.year}" %></p>

<br>
<div class="row">
  <p class="numbers num-color1">Saldo</p><p class="val num-color1"><%= calc_balance(@master_finance.finances, @master_finance.balance)%></p>
</div>
<div class="row">
  <p class="numbers num-color2">Entradas</p><p class="val num-color2"><%= calc_income(@master_finance.finances) %></p>
</div>
<div class="row">
  <p class="numbers num-color3">Saídas</p><p class="val num-color3"><%= calc_expense(@master_finance.finances) %></p>
</div>

<div class="form-row" style="margin-left: 25px">
  <div class="col-md-1 mb-10">
    <%= link_to 'Voltar', accounting_master_finances_path, class:"btn btn-secondary"%>
  </div>
    <%= link_to 'Editar', edit_accounting_master_finance_path(@master_finance), class:"btn btn-primary butt-align2"%>
</div>

<div class="container-table100">
  <div class="wrap-table100">
    <div class="table100">
      <table>
        <thead>
          <tr class="table100-head">
            <th class="column1">Dia</th>
            <th class="column3">Entrada</th>
            <th class="column3">Saída</th>
            <th class="column3">Descrição</th>
            <th class="column6">Valor</th>
          </tr>
        </thead>
        <tbody>
          <% @master_finance.finances.each do |finance| %>

            <tr <% if finance.expense_type.blank? %>
                  style="background: #d9b3ff"
                <% else %>
                  style="background: #ffaaaa"
                <% end %>
            >
              <td class="column1"><%= l(finance.day) %></td>
              <td class="column3">
                <% unless finance.income_type.blank? %>
                  <%= finance.income_type.name %>
                <% end %>
                </td>
              <td class="column3">
                <% unless finance.expense_type.blank? %>
                  <%= finance.expense_type.name %>
                <% end %>
              </td>
              <td class="column3"><%= finance.description %></td>
              <td class="column6"><%= finance.value %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
