<p id="notice"><%= notice %></p>

<p>
  <strong>Month:</strong>
  <%= @master_finance.month %>
</p>

<p>
  <strong>Month:</strong>
  <%= @master_finance.month %>
</p>

<%= link_to 'Edit', edit_accounting_master_finance_path(@master_finance) %> |
<%= link_to 'Back', accounting_master_finances_path %>
