<%= render partial: 'layouts/notifications' %>

<%= render partial: 'layouts/navigation' %>

<br><br><br>

<p class="basic-title"><%= "#{t('accounting.finance')} - #{l(@master_finance.date, format: :short)}" %></p>

<br>
<div class="row">
  <p class="numbers num-color1"><%= t('labels.balance') %></p><p class="val num-color1"><%= calc_balance(@master_finance.finances, @master_finance.balance)%></p>
</div>
<div class="row">
  <p class="numbers num-color2"><%= t('labels.incomes') %></p><p class="val num-color2"><%= income_calc(@master_finance.finances) %></p>
</div>
<div class="row">
  <p class="numbers num-color3"><%= t('labels.expenses') %></p><p class="val num-color3"><%= expense_calc(@master_finance.finances) %></p>
</div>

<div class="form-row" style="margin-left: 25px">
  <div class="col-md-1 mb-10">
    <%= link_to t('buttons.back'), accounting_master_finances_path, class:"btn btn-secondary"%>
  </div>
    <%= link_to t('buttons.edit'), edit_accounting_master_finance_path(@master_finance), class:"btn btn-primary butt-align2"%>
</div>

<div class="container-table100">
  <div class="wrap-table100">
    <div class="table100">
      <table>
        <thead>
          <tr class="table100-head">
            <th class="column1"><%= t('labels.date') %></th>
            <th class="column3"><%= t('labels.income') %></th>
            <th class="column3"><%= t('labels.expense') %></th>
            <th class="column3"><%= t('labels.description') %></th>
            <th class="column6"><%= t('labels.value') %></th>
          </tr>
        </thead>
        <tbody>
          <% @master_finance.finances.each do |finance| %>

            <tr <%= change_color(finance) %> >
              <td class="column1"><%= l(finance.day) %></td>
              <td class="column3"><%= inc_show(finance) %></td>
              <td class="column3"><%= exp_show(finance) %></td>
              <td class="column3"><%= finance.description %></td>
              <td class="column6"><%= finance.value %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
