
<p id="notice"><%= notice %></p>

<div>
  <%= render partial: 'layouts/navigation' %>
</div>

<%= form_with(model: product, local: true, html: { class: "basic-grey"}) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <form>
    <div class="form-row">
      <div class="col-md-4 mb-10">
        <%= form.label :code %>
        <%= form.text_field :code, class:"form-control", placeholder:"Código" %>
      </div>
      <div class="col-md-10 mb-10">
        <%= form.label :name %>
        <%= form.text_field :name, class:"form-control", placeholder:"Nome" %>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-4 mb-10">
        <%= form.label :cost %>
        <%= form.text_field :cost, class:"form-control", placeholder:"Custo" %>
      </div>
      <div class="col-md-4 mb-10">
        <%= form.label :margin %>
        <%= form.text_field :margin, class:"form-control", placeholder:"Margem" %>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-2 mb-10">
      <%= form.submit "Enviar", class:"btn btn-primary", style: "background: #600513" %>
      </div>
    </div>
  </form>
<% end %>
</div>
</div>
</div>
