<p id="notice"><%= notice %></p>

<div>
  <%= render partial: 'layouts/navigation' %>
</div>

<br><br><br>

<div class="row">
  <div class="col-lg-6">
    <div class="input-group float-left text-box">
      <input type="text" class="form-control" placeholder="Pesquisar por...">
      <span class="input-group-btn">
        <button class="btn btn-primary" style="background: #600513" type="button">OK!</button>
      </span>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
  <%= link_to 'Novo', new_product_path, class: "btn btn-primary butt-align", style: "background: #600513" %>
</div><!-- /.row -->

<div class="container-table100">
  <div class="wrap-table100">
    <div class="table100">
      <table>
        <thead>
          <tr class="table100-head">
            <th class="column1">Código</th>
            <th class="column3">Nome</th>
            <th class="column5">Custo</th>
            <th class="column5">Margem</th>
            <th class="column5">Preço</th>
            <th class="column2"></th>
            <th class="column6"></th>
          </tr>
        </thead>
        <tbody>
          <% @products.each do |product| %>
            <tr>
              <td class="column1"><%= product.code %></td>
              <td class="column3"><%= product.name %></td>
              <td class="column5"><%= product.cost %></td>
              <td class="column5"><%= product.margin %>%</td>
              <td class="column5"><%=calculate_price(product.cost, product.margin)%></td>
              <td class="column2">
                <%= link_to  edit_product_path(product) do %>
                  <span style="color: #600513" class="typcn typcn-pencil"></span>
                <% end %>
              </td>
              <td class="column6">
                <%= link_to product, method: :delete, data: { confirm: 'Are you sure?' } do %>
                  <span style="color: #600513" class="typcn typcn-times"></span>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="d-flex justify-content-center">
    <%= paginate @products %>
</div>
