<%= render partial: 'layouts/navigation' %>

<%= render partial: 'layouts/notifications' %>

<br><br><br>

<%= form_tag(products_path, :method => "get", id: "search-form") do %>
  <div class="row">
    <div class="col-lg-5">
      <div class="input-group float-left basic-box">
        <%= text_field_tag :search, params[:search], class:"form-control", placeholder: "#{t('placeholder.search_for')}" %>
      <span class="input-group-btn">
        <%= submit_tag t('buttons.ok'), class:"btn btn-primary" %>
      </span>
      </div><!-- /input-group -->
    </div><!-- /.col-lg-6 -->
<% end %>
    <div class="d-flex align-items-end">
      <%= link_to t('buttons.new'), new_product_path, class: "btn btn-primary butt-align" %>
    </div>
  </div><!-- /.row -->

<div class="container-table100">
  <div class="wrap-table100">
    <div class="table100">
      <table>
        <thead>
          <tr class="table100-head">
            <th class="column1"><%= @products.human_attribute_name("code") %></th>
            <th class="column3"><%= @products.human_attribute_name("name") %></th>
            <th class="column5"><%= @products.human_attribute_name("cost") %></th>
            <th class="column5"><%= @products.human_attribute_name("margin") %></th>
            <th class="column5"><%= @products.human_attribute_name("calculate_price") %></th>
            <th class="column2"></th>
            <th class="column6"></th>
          </tr>
        </thead>
        <tbody>
          <% @products.each do |product| %>
            <tr>
              <td class="column1"><%= product.code %></td>
              <td class="column3"><%= product.name %></td>
              <td class="column5"><%= product.cost %></td>
              <td class="column5"><%= product.margin %>%</td>
              <td class="column5"><%=calculate_price(product.cost, product.margin)%></td>
              <td class="column2">
                <%= link_to  edit_product_path(product) do %>
                  <span class="typcn typcn-pencil basic-color"></span>
                <% end %>
              </td>
              <td class="column6">
                <%= link_to product, method: :delete, data: { confirm: t('messages.confirm', item: product.name)} do %>
                  <span class="typcn typcn-times basic-color"></span>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="d-flex justify-content-center">
    <%= paginate @products %>
</div>
