<%= stylesheet_link_tag    'application', media: 'all' %>
<%= javascript_include_tag 'application' %>

<p id="notice"><%= notice %></p>

<div><%= render partial: 'layouts/navigation' %></div>

<br><br><br>
      <div class="pull-right"><%= link_to 'New Product', new_product_path %></div>
  <div class="container-table100">
    <div class="wrap-table100">
      <div class="table100">
        <table>
          <thead>
            <tr class="table100-head">
              <th class="column4">Código</th>
              <th class="column1">Nome</th>
              <th class="column4">Custo</th>
              <th class="column4">Preço</th>
              <th class="column4">Margem</th>
              <th> </th>
              <th> </th>
            </tr>
          </thead>
          <tbody>
            <% @products.each do |product| %>
              <tr>
                <td class="column4"><%= product.code %></td>
                <td class="column1"><%= product.name %></td>
                <td class="column4"><%= product.cost %></td>
                <td class="column4"><%= product.price %></td>
                <td class="column4"><%= product.margin %></td>
                <td class="column4"><%= link_to 'Edit', edit_product_path(product) %></td>
                <td class="column4"><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>

